<h1>GitHub job searcher</h1>
<label for="location">Choose a location:</label>
<select name="location" id="location">
  <option value="chicago">Chicago</option>
  <option value="san francisco">San Francisco</option>
  <option value="phoenix">Phoenix</option>
  <option value="london">London</option>
  <option value="beijing">Beijing</option>
  <option value="paris">Paris</option>
</select>

<label for="description">Choose a description:</label>
<select name="description" id="description">
  <option value="javascript">Javascript</option>
  <option value="java">Java</option>
  <option value="python">Python</option>
  <option value="react">React</option>
  <option value="ruby">Ruby</option>
  <option value="go">Go</option>
</select>

<div>
  <span id="searching" style="display: none;">searching...</span>
  <p id="results"></p>
</div>
